<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('bundles/build/css/reset.css') }}" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{{ asset('bundles/build/css/question.css') }}" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{{ asset('bundles/build/css/font.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/build/css/detailplanete.css') }}" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{{ asset('bundles/build/css/flexboxgrid.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/build/css/flexboxgrid.css') }}" type="text/css">
    li
    <title>Question</title>
</head>

<body>
<section class="image-question-header">
</section>
<div class="numberQuestion">
    <p class="textQuestion">Recherche avancé</p>
</div>
<section class="containerQuestionAndAnswer">
    <div class="taille-marge col-xs-12 col-md-11 col-lg-11">
        <div>

            <p class="text-in-finishPlanette">Parce que chaque individu est différent, VSO vous aide à choisir le monde qui vous correspond le plus.<br /><br />

                Climat, prix, situation, nous prenons en compte chacun de vos critères pour vous orienter de la meilleure des manières.<br /><br />

                Pour cela rien de plus simple, vous n’avez qu’a répondre à quelques questions pour nous aider.</p>
            <button  class="button-center start"type="button" name="button">Commencer</button>
        </div>
    </div>
</section>
</body>
<script src="{{ asset('bundles/build/js/table.js') }}"></script>
<script src="{{ asset('bundles/build/js/newslider.js') }}"></script>
</html>
