<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{  asset('bundles/build/css/flexboxgrid.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{  asset('bundles/build/css/reset.css') }}" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{{  asset('bundles/build/css/font.css') }}">
    <link rel="stylesheet" href="{{  asset('bundles/build/css/header.css') }}" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{{  asset('bundles/build/css/homePagelog.css') }}" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
<header class="container-header">
    <div class="row between-md between-lg containerDesktopMenu">
        <div class="col-md-1 col-lg-1 containerDesktop-title">
            <span class="desktopTitle">VSO</span>
        </div>

        <nav class="col-md-9 col-lg-9 containerDesktop-menu">
            <ul class="desktopMenu">
                <li>
                    <ul class="wrapper-desktopMenu">
                        <li class="menu-desktopItems"> <a class="menu-desktopLink" href="{{ path('Oui_accueil') }}">Acceuil</a></li>
                        <li class="menu-desktopItems"> <a class="menu-desktopLink" href="">Recherche avancée</a></li>
                        <li class="menu-desktopItems"> <a class="menu-desktopLink" href="">Catalogue</a></li>
                        <li class="menu-desktopItems"> <a class="menu-desktopLink" href="">Autre</a>
                            <ul class="sousMenu">
                                <li class="sousMenu-desktopItems"><a class="sousMenu-desktopLink" href="#">Devenir colons</a></li>
                                <li class="sousMenu-desktopItems"><a class="sousMenu-desktopLink" href="#">Devenir technicien</a></li>
                                <li class="sousMenu-desktopItems"><a class="sousMenu-desktopLink" href="#">Demander un visa</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="col-md-2 col-lg-2 containerDesktop-icons">
            <i class="fas fa-plus-circle"></i>
        </div>
    </div>

    <div class="row center-xs center-lg container-menuMobile">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 container-title">
            <span class="header-title-mobile">VSO</span>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 container-icons">
            <div class="burger-menu">
                <span class="burger-menu-lineone"></span>
                <span class="burger-menu-linetwo"></span>
            </div>
            <i class="fas fa-plus-circle"></i>
        </div>

        <div class="menu-open">
            <div class="container">
                <div class="row between-xs container-header-open">
                    <div class="col-xs-7 col-xs-offset-5 col-sm-7 col-sm-offset-5 col-md-7 col-md-offset-5 col-lg-7 col-lg-offset-5">
                        <h2 class="title-header-open">V S O</h2>

                        <div class="div-header-open">
                            <img src="{{ asset('bundles/build/img/glass.png') }}" alt="glass">
                            <img class="take" src="{{ asset('bundles/build/img/take.png') }}" alt="take">
                        </div>
                    </div>
                </div>
            </div>
            <div class="containerList">
                <ul class="containerli">
                    <li class="li-menu"> <a class="link-menu" href="{{ path('Oui_accueil') }}">Acceuil</a></li>
                    <li class="li-menu"> <a class="link-menu" href="">Catalogue</a></li>
                    <li class="li-menu"> <a class="link-menu" href="">Devenir colons</a></li>
                    <li class="li-menu"> <a class="link-menu" href="">Devenir technicien</a></li>
                    <li class="li-menu"> <a class="link-menu" href="">Recherche avancée</a></li>
                    <li class="li-menu"> <a class="link-menu" href="">Demander un visa</a></li>
                </ul>
                <button class="conect-and-deconect" type="button" name="button">DECONNEXION</button>
            </div>
        </div>
    </div>
</header>
<section class="container-profile">
    {% if is_granted('ROLE_USER') %}
    {% for user in users %}
    <div class="row center-xs center-lg">
        <div class="col-xs-6 col-sm-7 col-md-6 col-lg-8 box-image">
            <img src="{{ asset('bundles/build/img/profile.jpeg') }}" alt="" class="image">
        </div>
    </div>
    <div class="row center-xs center-lg">
        <div class="col-xs-6 col-sm-5 col-md-4 col-lg-4 box-info">
            <p class="info">{{ user.nom }}</p>
            <p class="matricule">{{ user.matricule }}</p>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <div class="row center-xs center-md center-lg box-rubrics">
        <a href="">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 container-elements1">
            <!--<div class="col-xs-10 col-sm-6 col-md-6 col-lg-4 container-elements">-->
            <img src="{{ asset('bundles/build/img/futuristic.jpg') }}" alt="" class="image1">
            <div class="box-title">
                <p class="title"><a href="">Recherches avancées </p>
            </div>
        </div>
        </a>

        <a href="{{ path('catalogueplanete') }}">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 container-elements2">
            <img src="{{ asset('bundles/build/img/image43.jpg') }}" alt="" class="image2">
            <div class="box-title">
                <p class="title"><a href="">Catalogue</p>
            </div>
        </div>
        </a>

        <a href="{{ path('visa') }}">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 container-elements3">
            <img src="{{ asset('bundles/build/img/passeport2.jpg') }}" alt="" class="image2">
            <div class="box-title">
                <p class="title"><a href="">Demander un visa</p>
            </div>
        </div>
        </a>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 container-specific"></div>

        <a href="{{ path('colons') }}">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 container-elements4">
            <img src="{{ asset('bundles/build/img/efaja.png') }}" alt="" class="image2">
            <div class="box-title">
                <p class="title"><a href="">Devenez colons</p>
            </div>
        </div>
        </a>

        <a href="{{ path('techniciens') }}">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 container-elements5">
            <img src="{{ asset('bundles/build/img/satellite2.jpg') }}" alt="" class="image2">
            <div class="box-title">
                <p class="title"><a href="">Devenez technicien spatial</p>
            </div>
        </div>
        </a>

    </div>
</section>
<div class="bg" alt="bg"></div>



</body>

</html>